<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <div class="announcement-bar announcement">
        <div class="container">
            <div class="header-top">
                <div class="header__inner">
                    <span> <a href="javascript:void(0)">Free Shipping</a> & <a href="javascript:void(0)">Free Returns</a> </span>
                </div>
                <div class="social--icon">
                    {{> components/common/social-links}}
                </div>
            </div>
        </div>   
    </div>
   
    <div class="header-middle">
        <div class="container">
            <div class="head-wrap">
                <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
                    <span class="mobileMenu-toggleIcon">Toggle menu</span>
                </a>
                <div class="header-lft">
                    {{#if page_type '===' 'default'}}
                        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                            {{> components/common/store-logo}}
                        </h1>
                        {{else}}
                         <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                            {{> components/common/store-logo}}
                        </div>
                    {{/if}}
                </div>
                <div class="header-rgt--wrap">
                    <div class="header-rgt">
                        <div class="navPages-container" id="menu" data-menu>
                            {{> components/common/navigation-menu}}
                        </div>
                        <div class="middle-header-search-rgt">
                            {{> components/common/quick-search}}
                        </div>
                        <div class="rgt-header">
                            {{> components/common/navigation}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
   

   
    
    {{{region name="header_navigation_bottom--global"}}}
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
