<div class="heroCarousel-content{{#and (if heading '==' false) (if text '==' false)}} heroCarousel-content--empty{{/and}}">
    <div class="content_wrapper">
        {{#if heading}}
            <p class="heroCarousel-title"><span>DOE</span> {{{heading}}}</p>
        {{/if}}
        {{#if text}}
            <p class="heroCarousel-description">{{{text}}}</p>
        {{/if}}
            <p class="heroCarousel-off-text">20<span class="off"> <span class="percentage-sym"><strong>%</strong></span> OFF</span></p>
        {{#if button_text}}
            <a href="{{url}}" aria-label="{{#if this.alt_text.length '!=' 0}}{{this.alt_text}}{{else}}{{lang 'carousel.slide_number' slide_number=(add @index 1)}}{{/if}}, {{button_text}}" class="heroCarousel-action button button--primary button--large">{{{button_text}}}</a>
        {{/if}}

    </div>
</div>    